<div class="container-fluid bar">
  <div class="row navbar">
    <div class="col-5 text-left">
        <a href="latest" class="btn mx-1"><i class="fa fa-hourglass-half rotate"></i> Latest </a>
        <a href="twitter" class="btn mx-1 "><i class="fa fa-twitter rotate"></i> Twitter </a>
        <a href="reddit" class="btn mx-1"><i class="fa fa-reddit-alien rotate"></i> Reddit </a>
        <a href="discover" class="btn mx-1"><i class="fa fa-globe rotate"></i> Discover </a>
    </div>
    <div class="col-2 text-center">
      <img src="../assets/fotos/logo2.png" class='logo' alt="logo">
    </div>
    <div class="col-5 text-right">
      <a *ngIf='logged' href="latest" (click)='logout()' class="btn mx-1"><i class="fa fa-sign-out"></i> Log Out </a>
      <a href="about" class="btn mx-1"><i class="fa fa-info-circle"></i> About </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>