<div class="container-fluid bar">
  <!--<div class="row">
    <div class="col text-center">
      <!--<h1 class="text-center pt-2 titlefont"> {{title}} </h1>
      <img src= "../assets/fotos/logo2.png">
    </div>
  </div>-->
  <div class="row-12 navbar align-items-end">
    
    
    <div class= "col-2 text-left row">
      <div class= "col-10">
        <img src= "../assets/fotos/logo2.png">
      </div>
      
    </div>
    <div class= "col-4 text-left slogan">
        <p>Showing all the bullies who are tweeting at the moment</p>
    </div>
    <div class="col-6 text-right mb-2">
      <a href="latest" class="btn mb-2 mx-1 "> 
        <img src="https://img.icons8.com/material-sharp/48/000000/clock.png">
        Latest </a>
      <a href="twitter" class="btn mb-2 mx-1 "> 
        <img src="https://img.icons8.com/android/64/000000/twitter.png">
        Twitter </a>
      <a href="reddit" class="btn mb-2 mx-1"> 
        <img src="https://img.icons8.com/ios-glyphs/64/000000/reddit.png">
        Reddit </a>
      <a href="discover" class="btn mb-2 mx-1"> 
        <img src="https://img.icons8.com/pastel-glyph/64/000000/earth-planet.png">
        Discover </a>
    
      <!-- <a *ngIf="ln == 'es'"  (click)='english()' class="btn mb-2 mx-1"> English </a>
      <a *ngIf="ln == 'en'" (click)='spanish()' class="btn mb-2 mx-1"> Español </a> -->
      <a *ngIf='logged' href="latest" (click)='logout()' class="btn mb-2 mx-1"> 
        <img src="https://img.icons8.com/ios/64/000000/shutdown.png">
        Log Out </a>
      <a href="about" class="btn mb-2 mx-1"> 
        <img src="https://img.icons8.com/material/64/000000/about--v1.png">
        About </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>