<h1 class="text-center pt-3"> Reddit bullies </h1>
<div class="container-fluid">
  <div class="row text-center items-center">
    <!-- <div class="col text-center">
      <div class="lds-roller text-center my-4"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div> -->
    <div class="col text-center">
      <p>{{timeLeft}} seconds for new update</p>
    </div>
  </div>
  <div class="row text-center px-4 justify-content-center">
    <div *ngFor='let bully of bullies$' class="col-5 card shadow mx-3 my-2">
      <a href="{{bully.link}}" target="blank"  class="text-right mt-2"><i class="fa fa-link"></i></a>
      <h5 class="mb-4"><b> {{ bully.user.name }} </b></h5>
      <img src="../../assets/fotos/redditLogo.jpg" style='position:absolute; top:5px; left:5px;' class="image" width='40' height='40' alt='redditLogo' />
      <p class="mb-4"> {{bully.data}} </p>
    </div>
  </div>
</div>