<h1 class="text-center pt-3">Info</h1>
<div class="container">
  <div class="row">
    <div class="col pt-2">
      <p>
        Trying to predict the future has always been challenging, I have developed a program using python that, using the past results of one team, tries to predict the result of the upcoming matches. The results are fetched by an external API. <br>
        <br> This the very beginning of this project, but I will try to develop a similar program (you can call it version 2) using machine learning, but for the moment I'm very busy with university and work. <br>
        <br> As this is the project I have spent more hours, I wanted to show the results, so I have developed a webpage (using Angular for the front and Node.js for the back) where you can register yourself and see the results I have predicted. Because of I only use the results of the current league, the software is getting more accurate throw the weeks, and obviously, everything can happen!! this is football, it will never be 100% correct about the result, it is your choice to believe in it or not. <br>
        <br>
        <br> Webpage developed by: <a target="blank" href="http://pauescofet.com"><strong> Pau Escofet</strong></a>
      </p>
    </div>
  </div>
</div>